dialog.winnerDialog {
    text-align: center;
    width: 100%;

    border: none;
    border-radius: 16px;
    background-color: var(--background);
    color: whitesmoke;
}

dialog.winnerDialog h1 {
    font-size: 3em;
    font-weight: bold;
}

dialog.winnerDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

dialog.winnerDialog .winnerName {
    font-size: 2em;
    word-break: break-all;
}

dialog.winnerDialog button {
    border: none;
    cursor: pointer;
    font-size: 1.2em;

    margin-bottom: 12px;
    padding: 12px 24px;

    border-radius: 8px;
    color: black;
    background-color: var(--white-btn);
}

dialog.winnerDialog button:hover {
    background-color: var(--white-btn-hover);
}

dialog.winnerDialog button:active {
    background-color: var(--white-btn-active);
}
