button {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.exitBtn .icon {
    float: right;
    margin: 0;
    margin-left: 16px;
    width: 22px;
    height: 22px;

    background: url(/public/images/logout.svg) no-repeat;
    background-size: contain;
}