button {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.exitBtn .icon {
    margin: 0;
    margin-left: 16px;
    margin-top: auto;
    margin-bottom: auto;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    
    background: url(/public/images/logout.svg) no-repeat;
    background-size: contain;
    background-position: center;
}
