select {
    padding: 8px 12px;
    font-size: 1em;
    border-radius: 8px;
    margin-bottom: 16px;

    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Segoe UI', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    margin-top: 8px;
    color: white;
    border: 1px solid white;
    background-color: var(--foreground);
}
