@import url(profileDeleteAccountDialog.css);
@import url(changeValueDialog.css);

.profileContainer {
    display: grid;
    justify-items: center;
    box-sizing: border-box;
    align-items: center;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-columns: 3fr 1fr;
    gap: 16px;

    align-self: center;
    border-radius: 12px;
    flex-grow: 1;
    width: auto;
    max-width: 1200px;
    margin: 4%;
    padding: 16px 32px;

    background-color: var(--background);
}

.profileContainer p {
    font-size: 1.1em;
}

#accountInfo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    padding-bottom: 20px;

    grid-row: 2;
    grid-column: 1;

    background-color: var(--foreground);
}

#accountInfo h2 {
    text-align: center;
}

#accountInfo hr {
    margin-bottom: 20px;
    width: 100%;
}

#accountInfo p {
    display: inline-block;
    margin-right: 8px;
}

#accountInfo .value {
    display: inline-block;
    background-color: var(--background);
    border-radius: 10px;
    width: fit-content;

    margin: 8px 0;
    padding: 6px 12px;
}


#accountInfo .line {
    display: flex;
    flex-direction: row;
}

#accountInfo .editBtn {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 10px;
    margin-right: 0;
    
    color: transparent;
    background-image: url(/public/icons/edit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;
    box-shadow: none;
}

#loginDeviceInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 12px;
    width: fit-content;
    height: 100%;
    padding: 10px 20px;

    grid-row: 2;
    grid-column: 2;

    background-color: var(--foreground);
}

#loginDeviceInfo #loginCount {
    width: fit-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 16px;
    background-color: var(--background);
}

.profileContainer button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;

    width: fit-content;
    margin: 10px;
    padding: 12px 32px;

    box-shadow: 0 0 12px black;
    background-color: var(--white-btn);
    color: black;
}

.profileContainer button:hover {
    background-color: var(--white-btn-hover);
}

.profileContainer button:active {
    background-color: var(--white-btn-active);
}

.profileContainer #deleteAccountBtn {
    font-size: 1.3em;
    color: whitesmoke;
    width: fit-content;

    grid-row: 3;
    grid-column: 1;
    background-color: var(--red-btn);
}

.profileContainer #deleteAccountBtn:hover {
    background-color: var(--red-btn-hover);
}

.profileContainer #deleteAccountBtn:active {
    background-color: var(--red-btn-active);
}

#deviceCountWarningText {
    margin: 0 10px;
    opacity: 0;
}



.profileContainer .infoLine {
    margin-bottom: 10px;
}

.profileContainer .infoLine p {
    margin: 0;
}



.profileContainer .exitBtn {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: 2;

    padding-right: 16px;
}

#accountInfo .changePasswordBtn {
    margin: 0;
    margin-top: auto;
    padding: 10px 16px;
}



@media all and (max-width: 950px) {
    .profileContainer {
        grid-template-rows: 0.5fr auto auto 0.25fr 0.25fr;
        grid-template-columns: 1fr;
    }

    #loginDeviceInfo {
        grid-row: 3;
        grid-column: 1;
    }

    .profileContainer .exitBtn {
        grid-row: 4;
        grid-column: 1;
    }

    .profileContainer #deleteAccountBtn {
        grid-row: 5;
    }
}