#deleteAccountDialog {
    text-align: center;
    color: whitesmoke;
    
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 0 0 12px var(--background);
    background-color: var(--foreground);
}

#deleteAccountDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#deleteAccountDialog p {
    font-size: 1.3em;
}

#deleteAccountDialog p span {
    font-weight: bold;
    color: red;
}

#deleteAccountDialog button {
    display: inline;
}

#deleteAccountDialog button:first-of-type {
    color: whitesmoke;
    background-color: #aa0000;
}

#deleteAccountDialog button:first-of-type:hover {
    background-color: #880000;
}

#deleteAccountDialog button:first-of-type:active {
    background-color: #770000;
}