#lobbyWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;

    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    width: 80%;
    max-width: 120vh;
    padding: 24px 4px;
    margin-bottom: 5%;
    margin-top: 5%;

    background: url(/images/checkers-bg.jpg) no-repeat;
    background-size: cover;
}

button {
    cursor: pointer;
    border: none;
    font-size: 1.3em;
    border-radius: 100px;
    
    margin: 10px 16px;
    padding: 16px 32px;
    box-shadow: 0px 2px 10px black;
    background-color: #202020;
    color: whitesmoke;
}

button:hover {
    background-color: #171717;
}

button:active {
    background-color: #0a0a0a;
}