@import url(monopolyCardDialog.css);
@import url(monopolyClickDialog.css);
@import url(monopolyPlayerCards.css);

.monopolyContainer {
    display: grid;
    align-self: center;
    justify-content: center;
    align-items: center;

    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    align-items: start;

    gap: 0;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    container-type: inline-size;
}



/* board */
.monopolyContainer .boardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100%;
    max-height: 100vw;
    width: 100%;
}

.monopolyContainer .boardWrapper {
    position: relative;
    aspect-ratio: 1;
    height: 100%;
    max-width: 100%;

    container-type: inline-size;
}

.monopolyContainer .board {
    position: relative;
    display: grid;
    box-sizing: border-box;
    font-size: 14px;
    /* fallback */
    padding: 3%;

    aspect-ratio: 1;
    height: 100%;
    width: 100%;
}



/* cell */
.monopolyContainer .board .cell {
    box-sizing: border-box;
    position: relative;
    border: none;
    overflow: visible;

    margin: 0.1cqmin;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.monopolyContainer .board .cell .cell-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}



/* cell icon */
.monopolyContainer .board .cell .cell-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 80%;
}

.monopolyContainer .board .cell[mnpl-rotate="-90"] .cell-icon {
    transform: rotate(-90deg);
}

.monopolyContainer .board .cell[mnpl-rotate="180"] .cell-icon {
    transform: rotate(180deg);
}

.monopolyContainer .board .cell[mnpl-line="0"] .cell-icon,
.monopolyContainer .board .cell[mnpl-line="2"] .cell-icon {
    transform: rotate(-90deg);
    height: 35%;
    width: 160%;
}

.monopolyContainer .board .cell[mnpl-corner] .cell-icon {
    margin: auto;
    height: 100%;
    width: 70%;
}

.monopolyContainer .board .cell[mnpl-corner="1"] .cell-icon {
    width: 100%;
}



/* cell label */
.monopolyContainer .board .cell .cell-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    container-type: size;
}

.monopolyContainer .board .cell .cell-label>div {
    text-align: center;
    user-select: none;
}

.monopolyContainer .board .cell .cell-label>div::after {
    content: 'k';
}

.monopolyContainer .board .cell .cell-label>div[mnpl-x]::after {
    content: 'x';
}



.monopolyContainer .board .cell[mnpl-line="0"] .cell-label {
    width: 100%;
    height: 20%;
    top: -20%;
}

.monopolyContainer .board .cell[mnpl-line="1"] .cell-label {
    height: 100%;
    width: 20%;
    right: -20%;
}

.monopolyContainer .board .cell[mnpl-line="2"] .cell-label {
    width: 100%;
    height: 20%;
    bottom: -20%;
}

.monopolyContainer .board .cell[mnpl-line="3"] .cell-label {
    height: 100%;
    width: 20%;
    left: -20%;
}

.monopolyContainer .board .cell .cell-label>div {
    font-size: 23cqmax;
}

.monopolyContainer .board .cell[mnpl-line="1"] .cell-label>div {
    transform: rotate(90deg);
}

.monopolyContainer .board .cell[mnpl-line="3"] .cell-label>div {
    transform: rotate(-90deg);
}



/* cell level */
.monopolyContainer .board .cell .cell-level {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    overflow: visible;
    font-size: 1.8cqw;

    z-index: 1;
}


/* stars size & stroke */
.monopolyContainer .board .cell .cell-level .starIcon.big {
    color: var(--gold);
}

.monopolyContainer .board .cell .cell-level .starIcon {
    stroke: black;
}

/* normal stars */
.monopolyContainer .board .cell[mnpl-line="0"] .cell-level .starIcon,
.monopolyContainer .board .cell[mnpl-line="2"] .cell-level .starIcon {
    height: 55%;
    width: auto;
}

.monopolyContainer .board .cell[mnpl-line="1"] .cell-level .starIcon,
.monopolyContainer .board .cell[mnpl-line="3"] .cell-level .starIcon {
    height: auto;
    width: 55%;
}

/* big star */
.monopolyContainer .board .cell[mnpl-line="0"] .cell-level .starIcon.big,
.monopolyContainer .board .cell[mnpl-line="2"] .cell-level .starIcon.big {
    height: 85%;
    width: auto;
}

.monopolyContainer .board .cell[mnpl-line="1"] .cell-level .starIcon.big,
.monopolyContainer .board .cell[mnpl-line="3"] .cell-level .starIcon.big {
    height: auto;
    width: 85%;
}


/* stars location */
.monopolyContainer .board .cell[mnpl-line="0"] .cell-level {
    flex-direction: row;
    width: 100%;
    height: 20%;
    bottom: -10%;
}

.monopolyContainer .board .cell[mnpl-line="1"] .cell-level {
    flex-direction: column;
    width: 20%;
    height: 100%;
    left: -10%;
    margin: -50% 0;
}

.monopolyContainer .board .cell[mnpl-line="2"] .cell-level {
    flex-direction: row;
    width: 100%;
    height: 20%;
    top: -10%;
}

.monopolyContainer .board .cell[mnpl-line="3"] .cell-level {
    flex-direction: column;
    width: 20%;
    height: 100%;
    right: -10%;
    margin: -50% 0;
}



/* sold cells */
.monopolyContainer .board .cell .cell-level[mnpl-sold] {
    flex-direction: row;
    color: white;
    background-color: var(--red-block);
    border-radius: 10cqw;
}

.monopolyContainer .board .cell .cell-level[mnpl-sold]::before {
    display: inline-block;
    content: ' ';
    background-image: url(/public/icons/lock-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5cqw;
    height: 1.5cqw;
    left: 0;
    margin-right: 0.5cqw;
}

.monopolyContainer .board .cell[mnpl-line="0"] .cell-level[mnpl-sold] {
    width: 80%;
    margin: 0 10%;

    height: 20%;
    bottom: -10%;
}

.monopolyContainer .board .cell[mnpl-line="1"] .cell-level[mnpl-sold] {
    width: 40%;
    margin: -35% 0;
    
    height: 40%;
    left: -20%;
}

.monopolyContainer .board .cell[mnpl-line="2"] .cell-level[mnpl-sold] {
    width: 80%;
    margin: 0 10%;

    height: 20%;
    top: -10%;
}

.monopolyContainer .board .cell[mnpl-line="3"] .cell-level[mnpl-sold] {
    height: 40%;
    margin: -35% 0;
    
    width: 40%;
    right: -20%;
}



/* dice cube */
.monopolyContainer .diceCubeContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 12%;
    row-gap: 6cqw;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

    top: 20%;
    left: 0;

    z-index: 4;
    container-type: inline-size;
}



/* player dots */
.monopolyContainer .playerDot {
    position: absolute;

    aspect-ratio: 1;
    width: 3cqw;
    border-radius: 100%;
    z-index: 2;

    transition: top 1s, left 1s;
    background-color: red;

    border: 0.1cqw solid black;
    box-shadow: 0 0 1cqw black;
}



/* game chat */
.monopolyContainer .monopolyChat {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    box-sizing: border-box;
    font-size: 2cqw;

    aspect-ratio: 1;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 1.5cqw;
    padding-top: 0;
    padding-bottom: 0;
}

.monopolyContainer .monopolyChat .chatMessages {
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: auto;
}

.monopolyContainer .monopolyChat p {
    word-wrap: break-word;

    margin: 0;
    margin-top: 1cqw;
    margin-bottom: 1cqw;
}

.monopolyContainer .monopolyChat .chatMessages::-webkit-scrollbar {
    width: 1cqw;
}

.monopolyContainer .monopolyChat .chatMessages::-webkit-scrollbar-thumb {
    border-radius: 1cqw;
    background-color: var(--background);
}

.monopolyContainer .monopolyChat .chatPlayerName {
    color: black;
    font-weight: bold;
    padding: 0.25cqw 0.5cqw;
    border-radius: 0.5cqw;
}


/* chat input */
.monopolyContainer .chatInput {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 1.5cqw;
    margin-top: 0.75cqw;
    margin-bottom: 0.75cqw;
}

.monopolyContainer .chatInput input {
    width: 100%;
    margin: 0;

    padding: 1.5cqw 2.5cqw;
    outline: none;
    border: none;
    border-radius: 0;
}

.monopolyContainer .chatInput button {
    border-radius: 0;
    border: none;
    cursor: pointer;

    aspect-ratio: 1;
    height: 100%;
    background-color: transparent;
    border-radius: 1cqw;
    padding: 0;
}

.monopolyContainer .chatInput button:hover {
    background-color: var(--background);
}

.monopolyContainer .chatInput button:active {
    background-color: var(--background-darker);
}



.monopolyContainer .chatInput button .icon {
    background-image: url(/public/icons/send.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 100%;
    height: 70%;
}