/* players */
.monopolyContainer .playersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    height: 100%;
    width: 100%;

    overflow: visible;
    margin-top: 4px;
    margin-bottom: 8px;
}

/* @media (min-width: 1100px) and (orientation: landscape) {
    .monopolyContainer {
        grid-template-rows: 100%;
        grid-template-columns: auto 1fr;
    }

    .monopolyContainer .playersContainer {
        position: relative;
        flex-direction: column;
    }
} */

.monopolyContainer .playersContainer .playerCardDropDown {
    position: relative;
    padding: 8px;
    margin: 0;
}

.monopolyContainer .playersContainer .playerCard {
    display: block;
    user-select: none;

    height: fit-content;
    width: 130px;
    column-gap: 2px;

    margin: 0;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--background);
    box-shadow: 0 0 2px gray;
}

.monopolyContainer .playersContainer .playerCard[mnpl-dead] {
    cursor: default;
    color: darkgray;
    background-color: var(--foreground);
    box-shadow: 0 0 2px lightgray;
}

.monopolyContainer .playersContainer .playerCard:not([mnpl-dead]) {
    cursor: pointer;
}



.monopolyContainer .playersContainer .playerCard .cardLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 4px;
}

.monopolyContainer .playersContainer .playerCard p {
    margin: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}


/* player's money amount */
.monopolyContainer .playersContainer .playerCard .money {
    margin-top: 0;
}

.monopolyContainer .playersContainer .playerCard:not([mnpl-dead]) .money::before {
    content: '$ ';
}

.monopolyContainer .playersContainer .playerCard:not([mnpl-dead]) .money:after {
    content: ' k';
    color: gray;
}


/* color line */
.monopolyContainer .playersContainer .playerCard .line {
    width: 100%;
    height: 3px;
    border-radius: 4px;
}


/* online indicator */
.monopolyContainer .playersContainer .playerCard .onlineIndicator {
    aspect-ratio: 1;
    width: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 100%;
}

.monopolyContainer .playersContainer .playerCard .onlineIndicator.on {
    background-color: green;
}

.monopolyContainer .playersContainer .playerCard .onlineIndicator.off {
    background-color: red;
}

.monopolyContainer .playersContainer .playerCard .secondsLeft {
    overflow: visible;
    height: fit-content;
    margin: 0;
    color: red;
}



/* click-to-show buttons */
.monopolyContainer .playersContainer .playerCardDropDown .playerCardButtons {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: calc(100% - 16px);
    height: fit-content;
    z-index: 3;

    /* not .show */
    display: none;
}

.monopolyContainer .playersContainer .playerCardDropDown .playerCardButtons.show {
    display: flex;
}

.monopolyContainer .playersContainer .playerCardDropDown .playerCardButtons button {
    width: 90%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    color: white;
    border: 1px solid black;
    background-color: var(--foreground);
}

.monopolyContainer .playersContainer .playerCardDropDown .playerCardButtons button:hover {
    background-color: var(--background);
}