@import url(lobbyJoinDialogButtons.css);

.lobbyWrapper dialog {
    text-align: center;
    color: whitesmoke;

    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 0 0 12px var(--background);
    background-color: var(--background);
}

.lobbyWrapper dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.lobbyWrapper dialog p {
    font-size: 1.4em;
}

.lobbyWrapper dialog button {
    display: inline;
}

.lobbyWrapper dialog input {
    font-size: 1.5em;
    text-align: center;
    width: 5em;

    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}