.lobbyWrapper dialog button {
    width: fit-content;
    margin: 10px;
    padding: 12px 32px;

    box-shadow: 0 0 12px black;
    color: whitesmoke;
}



/* Enter lobby button */
.lobbyWrapper dialog .enterLobbyBtn {
    background-color: var(--green-btn);
}

.lobbyWrapper dialog .enterLobbyBtn:hover {
    background-color: var(--green-btn-hover);
}

.lobbyWrapper dialog .enterLobbyBtn:active {
    background-color: var(--green-btn-active);
}



/* Close button */
.lobbyWrapper dialog .exitBtn {
    color: whitesmoke;
    background-color: var(--red-btn);
}

.lobbyWrapper dialog .exitBtn:hover {
    background-color: var(--red-btn-hover);
}

.lobbyWrapper dialog .exitBtn:active {
    background-color: var(--red-btn-active);
}