.lobbyWrapper button {
    cursor: pointer;
    border: none;
    font-size: 1.3em;
    border-radius: 8px;

    margin: 10px 16px;
    padding: 16px 32px;
    box-shadow: 0 2px 12px black;
    background-color: #202020;
    color: whitesmoke;
}

.lobbyWrapper button:hover {
    background-color: #171717;
}

.lobbyWrapper button:active {
    background-color: #0a0a0a;
}



/* Start game button */
.lobbyWrapper .startGameBtn {
    background-color: var(--green-btn);
}

.lobbyWrapper .startGameBtn:hover {
    background-color: var(--green-btn-hover);
}

.lobbyWrapper .startGameBtn:active {
    background-color: var(--green-btn-active);
}



/* Leave lobby button */
.lobbyWrapper .exitBtn {
    background-color: var(--white-btn);
    color: black;
}

.lobbyWrapper .exitBtn:hover {
    background-color: var(--white-btn-hover);
}

.lobbyWrapper .exitBtn:active {
    background-color: var(--white-btn-active);
}