@import url(globalStyles/tables.css);
@import url(globalStyles/buttons.css);
@import url(globalStyles/input.css);
@import url(globalStyles/expandable.css);

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

hr {
    border-radius: 10px;
    border: 1px solid whitesmoke;
}