@import url("https://fonts.googleapis.com/css2?family=Montserrat");

:root {
  --background: #171717;
  --foreground: #272727;
  --orange: #fddb3a;
  --win-color: green;
  --loose-color: red;
}

body {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  background: var(--foreground);
  
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
