@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --background: #171717;
  --background-darker: #121212;
  --foreground: #272727;
  --yellow: #fddb3a;
  --orange: #f06b43;
  --red-block: #ff4949;
  
  --almost-black: #222;

  --dark-aquamarine: #37bc9d;
  --dark-aquamarine-hover: #32a58a;
  --dark-aquamarine-active: #2e9c83;

  --gray-btn: #ddd;
  --gray-btn-hover: #ccc;
  --gray-btn-active: #c0c0c0;


  --white-btn: whitesmoke;
  --white-btn-hover: #ccc;
  --white-btn-active: #bababa;

  /* --button-green: rgb(0, 140, 0);
  --button-green-hover: rgb(0, 120, 0);
  --button-green-active: rgb(0, 115, 0);

  --button-red: rgb(170, 0, 0);
  --button-red-hover: rgb(150, 0, 0);
  --button-red-active: rgb(145, 0, 0); */

  --red-btn: #aa0000;
  --red-btn-hover: #880000;
  --red-btn-active: #770000;

  --green-btn: #008800;
  --green-btn-hover: #007000;
  --green-btn-active: #006000;

  --win-color: green;
  --loose-color: red;
}

body {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  background: var(--foreground);

  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier,
    monospace;
}