.table_wrapper {
    overflow-x: auto;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;

    margin-left: auto;
    margin-right: auto;
    width: 94%;
    max-width: 1000px;

    background-color: #1b1b1b;
    border-radius: 10px;
}

table td {
    padding: 12px;
    text-align: center;
}

table thead {
    border-bottom: 1px solid white;
    text-align: center;
}

table td:nth-of-type(n) {
    border-right: 1px solid white;
}

table td:last-of-type {
    border-right: none;
}

table caption {
    font-size: 2em;
    margin: 10px;
}