nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    top: 0;
    
    box-shadow: var(--background) 0 1px 6px;
    padding: 18px 6px;
    background-color: var(--background);
    border-bottom: 1px solid #aaa;
    z-index: 1;
}

nav a {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.3em;
    color: whitesmoke;
    transition: color 0.1s ease-in-out;

    padding: 16px 20px;
    margin: 3px 3px;
    border-radius: 10px;
}

nav a:not(:last-of-type):hover {
    color: var(--yellow);
    transition: color 0.1s ease-in-out;
}

/* Underline */
nav a:not(:last-of-type)::after {
    display: flex;
    position: relative;
    content: '';
    top: 3px;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

    margin-left: 2px;
    margin-right: 2px;
    width: auto;
    height: 3px;
    border-radius: 10px;
    background: var(--yellow);
}

nav a:not(:last-of-type):hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

/* Burger */
.burger {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;

    background: url(/public/images/burger-menu.svg) no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    border-radius: 10px;
    padding: 0;

    top: 14px;
    left: 16px;
}



/* Profile button */
nav a:last-of-type {
    margin-left: 20px;
    padding: 0 8px;
}

nav a .accountIcon {
    width: 48px;
    height: 48px;

    fill: whitesmoke;
    transition: color 0.1s ease-in-out;
}

nav a:hover .accountIcon {
    fill: var(--yellow);
}



@media all and (max-width: 650px) {
    .burger {
        display: block;
    }

    nav a:not(:first-of-type) {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    /* Profile button */
    nav a:last-of-type {
        position: absolute;
        opacity: 1;
        top: 14px;
        right: 16px;
    }

    nav.open a {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    nav {
        flex-direction: column;
        justify-content: flex-start;

        height: 78px;
        padding: 6px 6px;
        transition: all 0.3s ease-in-out;
    }

    nav.open {
        height: 276px;
        transition: all 0.3s ease-in-out;
    }
}