nav {
    position: sticky;
    display: block;
    box-sizing: border-box;
    text-align: center;
    top: 0;
    width: 100%;

    padding: 12px 6px;
    background-color: #171717;
}

nav a {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.2em;
    color: whitesmoke;
    transition: color 0.1s ease-in-out;

    padding: 16px 20px;
    margin: 6px 3px;
    border-radius: 10px;
}

nav a:hover {
    color: var(--orange);
    transition: color 0.1s ease-in-out;
}

nav a::after {
    display: flex;
    position: relative;
    content: '';
    top: 3px;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

    margin-left: 2px;
    margin-right: 2px;
    width: auto;
    height: 3px;
    border-radius: 10px;
    background: var(--orange);
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
